- model_class = Tier
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @tier.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    tiers_path, :class => 'btn'                              |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_tier_path(@tier), :class => 'btn'                   |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    tier_path(@tier),                                                                                            |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
