<%= simple_form_for @position, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.error_notification %>
  <%= f.input :name %>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                positions_path, :class => 'btn' %>
  </div>
<% end %>
