<%- model_class = Entry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Description</th>
      <th>Contest</th>
      <th>Battle</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to (entry.name.empty? ? "???" : entry.name), entry_path(entry) %></td>
        <td><%= entry.desc %></td>
        <td><%= link_to entry.contest.name.titleize, contest_path(entry.contest) %></td>
        <td><%= link_to entry.contest.battle.name.titleize, battle_path(entry.contest.battle) %></td>
				<% if can?(:edit, entry) || can?(:destroy, entry) %>
	        <td>
	          <%= link_to t('.edit', :default => t("helpers.links.edit")),
	                      edit_entry_path(entry), :class => 'btn btn-mini' %>
	          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                      entry_path(entry),
	                      :method => :delete,
	                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	                      :class => 'btn btn-mini btn-danger' %>
	        </td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entry_path,
            :class => 'btn btn-primary' %>
