<%= simple_form_for @contest, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :desc %>
  <%= f.input :points_cap %>
  <%= f.input :entry_fee %>
  <%= f.association :payout_type %>
  <%= f.input :payout_amount %>
  <%= f.association :category %>
  <%= f.association :battle %>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contests_path, :class => 'btn' %>
  </div>
<% end %>
