<%- model_class = Contest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Description</th>
      <th><%= model_class.human_attribute_name(:points_cap).titleize %></th>
      <th><%= model_class.human_attribute_name(:entry_fee).titleize %></th>
      <th><%= model_class.human_attribute_name(:payout_type).titleize %></th>
      <th><%= model_class.human_attribute_name(:payout_amount).titleize %></th>
      <th><%= model_class.human_attribute_name(:category).titleize %></th>
      <th>Battle</th>
    </tr>
  </thead>
  <tbody>
    <% contests = params[:battle_id] ? @contests.where(battle_id: params[:battle_id]) : @contests %>
    <% contests.includes(:battle, :payout_type, :category).each do |contest| %>
      <tr>
        <td><%= link_to contest.name.titleize, contest_path(contest) %></td>
        <td><%= contest.desc %></td>
        <td><%= contest.points_cap %></td>
        <td><%= contest.entry_fee %></td>
        <td><%= contest.payout_type.name.titleize %></td>
        <td><%= contest.payout_amount %></td>
        <td><%= contest.category.name.titleize %></td>
        <td><%= link_to contest.battle.name, battle_path(contest.battle) %></td>
        <td>
        <% if(can? :update, contest) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contest_path(contest), :class => 'btn btn-mini' %>
        <% end %>
        <% if(can? :destroy, contest) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contest_path(contest),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_contest_path,
            :class => 'btn btn-primary' %>
