- model_class = Contest
.page-header.text-center
  %h1= t '.title', :default => @contest.name.titleize
  %p.lead= @contest.desc
.text-center
  %p
    %strong
      = model_class.human_attribute_name(:points_cap).titleize
      \:
    = @contest.points_cap
  %p
    %strong
      = model_class.human_attribute_name(:entry_fee).titleize
      \:
    = @contest.entry_fee
  %p
    %strong
      = model_class.human_attribute_name(:payout_type_id).titleize
      \:
    = @contest.payout_type.name.titleize
  %p
    %strong
      = model_class.human_attribute_name(:category_id).titleize
      \:
    = @contest.category.name.titleize
  %p
    %strong Creator:
    = @contest.user ? @contest.user.username : "???"
  %p
    %strong Battle:
    = link_to @contest.battle.name.titleize, battle_path(@contest.battle)
  %p
    %strong Positions:
  - @contest.positions.each do |position|
    %li= position.name.titleize
  .form-actions.text-center
    = link_to "Enter", new_entry_path(contest_id: @contest.id), class: 'btn btn-primary btn-large'
    = link_to t('.back', :default => t("helpers.links.back")), |
      contests_path, :class => 'btn'                           |
    - if can? :update, @contest
      = link_to t('.edit', :default => t("helpers.links.edit")), |
        edit_contest_path(@contest), :class => 'btn'             |
      -#
      = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
        contest_path(@contest),                                                                                      |
        :method => 'delete',                                                                                         |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
        :class => 'btn btn-danger'                                                                                   |
