= simple_form_for @affinity, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name
  = f.error :base
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
                affinities_path, :class => 'btn'