- model_class = ContestPosition
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:contest_id)
      \:
  %dd= @contest_position.contest_id
  %dt
    %strong
      = model_class.human_attribute_name(:position_id)
      \:
  %dd= @contest_position.position_id
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    contest_positions_path, :class => 'btn'                  |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")),       |
    edit_contest_position_path(@contest_position), :class => 'btn' |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    contest_position_path(@contest_position),                                                                    |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
