<%= simple_form_for @character, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
<%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :desc, label: "Description" %>
  <%= f.association :affinity %>
  <%= f.association :tier %>
  <%= f.input :stat_hp, label: "Health Points", collection: 0..100 %>
  <%= f.input :stat_str, label: "Strength", collection: 0..100 %>
  <%= f.input :stat_def, label: "Defense", collection: 0..100 %>
  <%= f.input :stat_spd, label: "Speed", collection: 0..100 %>
  <%= f.input :stat_int, label: "Intelligence", collection: 0..100 %>
  <%= f.input :stat_luck, label: "Luck", collection: 0..100 %>
  <% if @character.portrait_main %>
    <%= @character.image_tag(:original) %>
    <%= f.label :portrait_image, "Upload New Portrait" %>
    <%= f.file_field :portrait_image %>
  <% else %>
    <%= f.label :portrait_image, "Upload Portrait" %>
    <%= f.file_field :portrait_image %>
  <% end %>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'btn' %>
  </div>
<% end %>
