<%= simple_form_for @character, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :desc %>
  <%= f.input :affinity_id %>
  <%= f.input :tier_id %>
  <%= f.input :stat_hp %>
  <%= f.input :stat_str %>
  <%= f.input :stat_def %>
  <%= f.input :stat_spd %>
  <%= f.input :stat_int %>
  <%= f.input :stat_luck %>
  <% if @character.portrait_main %>
    <%= @character.image_tag(:original) %>
    <%= f.label :portrait_image, "Upload New Portrait" %>
    <%= f.file_field :portrait_image %>
  <% else %>
    <%= f.label :portrait_image, "Upload Portrait" %>
    <%= f.file_field :portrait_image %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                characters_path, :class => 'btn' %>
  </div>
<% end %>
