<%- model_class = Character -%>
<div class="page-header">
  <h1><%=h @character.name.titleize %><%= h " - #{@character.series.name}" if @character.series %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <%= @character.image_tag :profile %>
    </div>
    <div class="span6">
      <% Gon.global.character = @character %>
      <div id='stat_body'>
        <div id='stat_chart'>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="affinity-logo">
        <% @affinity_logo_name = @character.affinity.name.downcase %>
        <% @affinity_logo_name = 'default' unless ['game', 'film', 'book'].include?(@affinity_logo_name) %>
        <object class='affinity-logo-medium' type="image/svg+xml" data=<%= asset_path "affinity_logo_#{@affinity_logo_name}.svg" %> ></object>
      </div>
    </div>
    <div class="span6">
      <h2>Biography</h2>
      <article class="character-bio">
        <%= @character.desc.empty? ?  'This character is shrouded in mystery...' : @character.desc %>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Portrait</h2>
      <%= @character.image_tag %>
      <%= @character.image_tag :medium %>
      <%= @character.image_tag :large %>
      <%= @character.image_tag :profile %>
      <%= link_to "Edit Portrait", edit_portrait_path(@character.portrait_main), class: 'btn' %>
    </div>
  </div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              characters_path, :class => 'btn'  %>
  <% if can? :update, @character %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_character_path(@character), :class => 'btn' %>
  <% end %>
  <% if can? :destroy, @character %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              character_path(@character),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>