<%= simple_form_for @portrait, :html => { :class => 'form-horizontal' } do |f| %>
<div class="control-group integer optional portrait_focusX">
  <label class="integer optional control-label" for="portrait_focusX">Focus X</label>
  <div class="controls">
    <input class="numeric integer optional" id="portrait_focusX" name="portrait[focusX]" step="1" type="number" value="<%= @portrait.focusX %>">
  </div>
</div>

<div class="control-group integer optional portrait_focusY">
  <label class="integer optional control-label" for="portrait_focusY">Focus Y</label>
  <div class="controls">
    <input class="numeric integer optional" id="portrait_focusY" name="portrait[focusY]" step="1" type="number" value="<%= @portrait.focusY %>">
  </div>
</div>

  <!-- <%= f.input :character_id %>
  <%= f.input :portrait_image_file_name %>
  <%= f.input :portrait_image_content_type %>
  <%= f.input :portrait_image_file_size %>
  <%= f.input :portrait_image_updated_at %>
  <%= f.input :image_width %>
  <%= f.input :image_height %> -->

  <div class="edit-portrait-image">

    <img alt="<%= @portrait.character.name %>" src="<%= @portrait.portrait_image.url(:original) %>">
      <i class="icon-circle" style="color:white"></i>
      <i class="icon-circle-blank"></i>
    </img>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                portraits_path, :class => 'btn' %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    var glyphOffset = -6;
    var img = $('.edit-portrait-image img');

    $('.edit-portrait-image img').on("click", function(event){
      $('#portrait_focusX').val(event.offsetX);
      $('#portrait_focusY').val(event.offsetY);
      $('#portrait_focusY').change();//to move the cursor
    });

    $('#portrait_focusX').change(function(event){
      moveFocusCursor(
        parseInt($('#portrait_focusY').val()),
        parseInt($('#portrait_focusX').val())
      );
    });

    $('#portrait_focusY').change(function(event){
      moveFocusCursor(
        parseInt($('#portrait_focusY').val()),
        parseInt($('#portrait_focusX').val())
      );
    });

    var moveFocusCursor = function(top, left){
      $('.edit-portrait-image i').offset({
        left: (img.position().left + left + glyphOffset),
        top: (img.position().top + top + glyphOffset)
      });
    };

    moveFocusCursor(
      parseInt($('#portrait_focusY').val()),
      parseInt($('#portrait_focusX').val())
    );
  });
</script>