<%= simple_form_for @battle, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :desc, label: "Description" %>
  <%= f.input :end_date, input_html: { class: 'datepicker'} %>
  <%= f.input :end_date, as: :time %>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                battles_path, :class => 'btn' %>
  </div>
<% end %>
