<%= simple_form_for @battle, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :desc, label: "Description" %>
  <%= f.input :end_date, hint: "Times are local", input_html: { class: 'datetimepicker'} %>
  <!-- Use Chosen for roster -->
  <%#= f.association :characters, label: "Roster", input_html: { class: 'chosen-select', "data-placeholder": "Choose characters to participate in the battle..."} %>

  <div class="control-group require battle_character_ids">
	  <label class="string required control-label" for="battle_character_ids"
		  <abbr title="required">*</abbr> Roster
		</label>
	  <div class="controls">
	  	<input type="hidden" name="character_ids[]" value>
	  	<select data-placeholder="Choose participating characters." class="select chosen-select" multiple="multiple" tabindex='-1' id="battle_character_ids" name="character_ids[]" style="display: none;">
	  		<option value></option>
		  		<optgroup label="Book">
		  		<% Character.book.each do |book_char| %>
		  			<option value="<%= book_char.id %>"><%= book_char.name %></option>
	  			<% end %>
		  		</optgroup>

		  		<optgroup label="Film">
		  		<% Character.film.each do |film_char| %>
		  			<option value="<%= film_char.id %>"><%= film_char.name %></option>
	  			<% end %>
		  		</optgroup>

		  		<optgroup label="Game">
		  		<% Character.game.each do |game_char| %>
		  			<option value="<%= game_char.id %>"><%= game_char.name %></option>
	  			<% end %>
		  		</optgroup>
	  	</select>
	  </div>
	</div>
  <%= f.error :base %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                battles_path, :class => 'btn' %>
  </div>
<% end %>
