<%- model_class = Battle -%>

<div class="hero-unit text-center">
  <h1 class='text-center'><%= @battle.name.titleize %></h1>
  <p class="lead"><%= @battle.desc %></p>
  <%= link_to "Create Contest", new_contest_url(battle_id: @battle.id), class: "btn btn-primary" %>
  <%= link_to "Enter Contest", contests_url(battle_id: @battle.id), class: "btn btn-primary" %>
  <div class="text-center">
    <h2>Battle Time</h2>
  </div>
    <div class="row centred">
      <div class="span12 centred">
        <div id="fancyCountdown" class="centred">
        </div>
      </div>
    </div>
</div>


<% if user_signed_in? && @battle.user_id == current_user.id %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_battle_path(@battle), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    battle_path(@battle),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
  </div>
<% end %>

<div id="battle-roster">
  <div class="row">
    <ul class="thumbnails">
      <% @battle.battle_rosters.includes(:character => :affinity).each do |roster| %>
        <li class="span3">
              <div class="thumbnail .thumbnail-character pagination-centered pop-out-shadow">
                <%= link_to (roster.character.image_tag :medium), character_path(roster.character) %>
                <div class="caption">
                  <%= glyph(roster.character.glyph.to_s) %>
                  <%= link_to roster.character.name, character_path(roster.character) %>
                </div>
                <% if @battle.results %>
                <div>Points: <%= @battle.results[roster.character.name] %>
                </div>
                <% end%>
              </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    <% date = DateTime.parse(@battle.end_date) %>

    $('#fancyCountdown').fancyCountdown({
      year: <%= date.year %>,
      month: <%= date.month %>,
      day: <%= date.day %>,
      hour: <%= date.hour %>,
      minute: <%= date.minute %>,
      second: <%= date.second %>,
      timezone: 0,
      dayDigitsAmount: 2,
      digits: { days:false, hours:true, minutes:true, seconds:true },
      <% if date > DateTime.now %>
        callback: onTargetReached,
      <% end %>
      overlayImageUrl: gon.global.APP_ASSET_HOST+"fancyCountdown/overlay.png"
    });

    function onTargetReached(){
      $(window).off('blur', $.fancyCountdown.stop);
      $(window).off('focus',$.fancyCountdown.start);
      console.log("target time reached");
      location.reload(true);
    }
  // $('#start').click(function(){
  //   $.fancyCountdown.start();
  // });
  //
  // $('#stop').click(function(){
  //   $.fancyCountdown.stop();
  // });
});
</script>