<%- model_class = Battle -%>

<div class="hero-unit text-center">
  <h1 class='text-center'><%= @battle.name.titleize %></h1>
  <p class="lead"><%= @battle.desc %></p>
</div>
<div class="text-center">
  <h1>Battle Time</h1>
  <div class="row"><div id="fancyCountdown" class="pagination-centered offset4 span6"></div></div>
</div>

<% if @battle.user_id == current_user.id %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_battle_path(@battle), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    battle_path(@battle),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
  </div>
<% end %>

<div id="battle-roster">
  <div class="row">
    <ul class="thumbnails">
      <% @battle.battle_rosters.includes(:character => :affinity).each do |roster| %>
        <li class="span3"> 
              <div class="thumbnail pagination-centered">
                <%= roster.character.image_tag 80, 80 %>
                <div class="caption">
                  <%= glyph(roster.character.glyph.to_s) %>
                  <%= link_to roster.character.name, character_path(roster.character) %>
                </div>
              </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    <% date = DateTime.parse(@battle.end_date) %>
    $('#fancyCountdown').fancyCountdown({
      year: <%= date.year %>,
      month: <%= date.month %>,
      day: <%= date.day %>,
      hour: <%= date.hour %>,
      minute: <%= date.minute %>,
      second: <%= date.second %>,
      timezone: 1,
      dayDigitsAmount: 2,
      digits: { days:false, hours:true, minutes:true, seconds:true },
      callback: onTargetReached,
      overlayImageUrl: gon.global.APP_ASSET_HOST+"fancyCountdown/overlay.png"
    });

    function onTargetReached(){
      $(window).off('blur', $.fancyCountdown.stop);
      $(window).off('focus',$.fancyCountdown.start);
      console.log("target time reached");
    }
  // $('#start').click(function(){
  //   $.fancyCountdown.start();
  // });
  //
  // $('#stop').click(function(){
  //   $.fancyCountdown.stop();
  // });
});
</script>