.border-form-div
	%h2 Sign in

	= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
		.form-inputs
			= f.input :email, :autofocus => true, placeholder: "E-mail address", label: false
			= f.input :password, placeholder: "Password", label: false
			= f.input :remember_me, :as => :boolean, label: false, inline_label: "Remember me" if devise_mapping.rememberable?

		.form-actions
			= f.button :submit, "Sign in", class: "btn btn-primary"

	= render "devise/shared/links"
